
$orange:#FF5100;
$blue:#1DBEEF;
$white:#fff;
$lightgray1:#eeeeee;
$lightgray2:#E5E5E5;
$darkgray:#666666;
$dark-light-gray:#808080;
$dark:#000;

#wrap{padding: 0 18px ;}

header{ height: 5rem; width: 100%; 
    .logo{float: left;
        img{ height: 2.4rem; margin-top: 1.2rem; }
    }
    .menu{float: right;
        img{ height: 2.4rem; margin-top: 1.2rem; }
    }
}
#contents{height: inherit; width: 100%; background: khaki; display: flex; flex-direction: column;
    .con1{ float: left; width: 100%;
        .button{background: $lightgray1;  height: 4vh; margin-top: 1rem; 
            border-radius: 50px;
            li{float: left; width: 33.333%;
                a{display: block; text-align: center; line-height: 4vh; font-size: 1.5rem; color: $dark-light-gray;
                    
                }
            }
            li.active{ width: 33.333%; 
                a{ height: 3.2vh; margin-left: .4rem; margin-top: .4rem;background: $white; border-radius: 50px;
                    display: block; line-height: 3.2vh; font-size: 1.5rem; font-weight: 500; color: $orange;
                    
                }
            }
        }
        .click{display: flex; justify-content: space-between;margin-top: 1rem; height: 9rem; align-items: center;
            border-bottom: 1px solid $lightgray2;
            .Start{
                h3{display: block; color: $dark-light-gray; font-size: 1.2rem;}
                h2{font-size: 2.5rem;
                    a{color: #ccc; font-weight: 500;}
                }
            }
            .icon{background: url(../img/icon_switch_off.png) no-repeat 0 0/cover; width: 2rem;; height:2rem; margin-top: 2rem;}
            .arrive{text-align: right;
                h3{display: block; color: $dark-light-gray; font-size: 1.2rem;}
                h2{font-size: 2.5rem;  
                    a{color: #ccc;font-weight: 500;}
                }
            }
        }
        .text-list{display: flex; flex-direction: column; margin-top: 1rem;
            .text{border: 1px solid #ccc; margin-top: .7rem; padding: 5px 10px;
                a{font-size: 1.3rem; font-weight: 700;
                }
            }
            .text1{width: 24rem;
                a{
                    span{color: $blue;
                    }
                }
            }
            .text2{display: flex;
                .text2-1{ margin-right: .4rem;
                    a{
                        span{ color: $orange;
                        }
                    }
                }
                .text2-2{
                    a{font-size: 1.3rem;}
                }
            }
            .text3{width: 13rem;
                a{
                    span{
                        color: $orange;
                    }
                }
            }
        }
    }
    .con2{float: left; margin-top: 2rem;
        .event{width: 95%; margin: 0 auto; height: 13rem; position: relative;
            h2{
                a{   font-size: 1.5rem; font-weight: 700;

                }
            }
            .img{
                background: url(../img/bm_kr_210609_BuzinessLight.jpg) no-repeat center center/cover; width: 100%; height: 100%;
                margin-top: .5rem;  border-radius: .5rem;
            }
            .number{position: relative; top: -2rem; right: -13.2rem; width: 1.9rem;font-size: .5rem; color: $white; background-color: $dark; border-radius: 20px; padding: .2888rem 1rem .2888rem .3888rem ;
                text-align: center; opacity: .5;
                .plus{font-size: 0.9rem; position: absolute; top:-1px; right: 10px;}
            }
        }
    }
    .con3{clear: both; padding-top:2.5rem; margin-left: 1rem;
        .service{
            h2{
                a{

                }
            }
            .swiper-container{width: 100%; 
                .swiper-slide{width: 80%; 
                    img{
                        width: 14rem; border-radius: .5rem;
                    }
                }
            }
        }
    }
}
