html {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

header {
  height: 3rem;
  width: 100%;
  background: #FF5100;
}
header .logo {
  float: left;
}
header .logo img {
  height: 1.2rem;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}
header .menu {
  float: right;
}
header .menu img {
  height: 1.4rem;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}

#contents {
  height: inherit;
  width: 100%;
  background: khaki;
}
#contents .con1 {
  float: left;
}
#contents .con1 .button {
  background: #eeeeee;
  width: 16.7rem;
  height: 2.3rem;
  margin-left: 1rem;
  margin-top: 0.8rem;
  border-radius: 50px;
}
#contents .con1 .button li {
  float: left;
  width: 5.6rem;
}
#contents .con1 .button li a {
  display: block;
  text-align: center;
  line-height: 2.3rem;
  font-size: 0.7rem;
  color: #808080;
}
#contents .con1 .button li.active {
  width: 5rem;
  height: 1.7rem;
  margin-left: 0.4rem;
  margin-top: 0.3rem;
  background: #fff;
  border-radius: 50px;
}
#contents .con1 .button li.active a {
  display: block;
  line-height: 1.6rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: #FF5100;
}
#contents .con1 .click {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
#contents .con1 .click .Start h3 {
  display: block;
  color: #808080;
}
#contents .con1 .click .Start h2 {
  font-size: 1rem;
}
#contents .con1 .click .Start h2 a {
  color: #ccc;
}
#contents .con1 .click .icon {
  background: url(../img/icon_switch_off.png) no-repeat 0 0/cover;
  width: 1.5rem;
  height: 1.5rem;
}
#contents .con1 .click .arrive {
  text-align: right;
}
#contents .con1 .click .arrive h3 {
  display: block;
  color: #808080;
}
#contents .con1 .click .arrive h2 {
  font-size: 1rem;
}
#contents .con1 .click .arrive h2 a {
  color: #ccc;
}
#contents .con1 .text-list {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}
#contents .con1 .text-list .text {
  border: 1px solid #ccc;
  margin-top: 0.4rem;
  padding: 0.2rem;
}
#contents .con1 .text-list .text1 {
  width: 10rem;
}
#contents .con1 .text-list .text1 a {
  font-size: 0.6rem;
}
#contents .con1 .text-list .text1 a span {
  color: #1DBEEF;
}
#contents .con1 .text-list .text2 {
  display: flex;
}
#contents .con1 .text-list .text2 .text2-1 {
  margin-right: 0.3rem;
}
#contents .con1 .text-list .text2 .text2-1 a {
  font-size: 0.6rem;
}
#contents .con1 .text-list .text2 .text2-1 a span {
  color: #FF5100;
}
#contents .con1 .text-list .text2 .text2-2 a {
  font-size: 0.6rem;
}
#contents .con1 .text-list .text3 {
  width: 5.2rem;
}
#contents .con1 .text-list .text3 a {
  font-size: 0.6rem;
}
#contents .con1 .text-list .text3 a span {
  color: #FF5100;
}
#contents .con2 {
  float: left;
  margin-top: 1rem;
}
#contents .con2 .event {
  width: 17rem;
  height: 5rem;
  margin-left: 0.9rem;
  position: relative;
}
#contents .con2 .event .img {
  background: url(../img/bm_kr_210609_BuzinessLight.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
#contents .con2 .event .number {
  position: relative;
  top: -2rem;
  right: -13.2rem;
  width: 1.9rem;
  font-size: 0.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  padding: 0.2888rem 1rem 0.2888rem 0.3888rem;
  text-align: center;
  opacity: 0.5;
}
#contents .con2 .event .number .plus {
  font-size: 0.9rem;
  position: absolute;
  top: -1px;
  right: 10px;
}
#contents .con3 {
  clear: both;
  padding-top: 2.5rem;
  margin-left: 1rem;
}
#contents .con3 .service .swiper-container {
  width: 100%;
}
#contents .con3 .service .swiper-container .swiper-slide {
  width: 80%;
}
#contents .con3 .service .swiper-container .swiper-slide img {
  width: 14rem;
  border-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */